<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/estilo.ccs">
    <title>Anima Animus</title>
</head>
<body>
    <header>
        <img src="../img/logo.jpg"alt="Logo de Anima Animus" width="200" height="150" >

        <nav>
            <a href="index.html">Inicio</a>
            <a href="empresa.html">Empresa</a>
            <a href="producto.html">Producto</a>
            <a href="registro.html">Registro</a>
            <a href="micuenta.html">Mi cuenta</a>
            <a href="contacto.html">Contacto</a>

        </nav>
    </header>
    <h1>Tienda Espiritual</h1>
<h2>prueba</h2>    
    
        <strong><h2>Servicios</h2></strong>
        <ol>
          <li>Armonizaciones</li>
          <li>Lecturas de tarot</li>
          <li>Talleres</li>
          <li>Terapia Floral</li>
  </ol>
        <strong><h2>Productos energeticos</h2></strong>    
      <ul>
        <li>Spray auricos</li>
        <li>Agua Florida</li>
        <li>Jabones</li>
        <li>Sahumos</li>
      </ul>
      <br>    
      <hr>
     
      <h3><em>Seguinos en nuestras redes sociales <a href="https://instagram.com/animaanimusok" target="_blank"> @animaanimusok</a></em></h3> 


      <img src="../img/agua florida.jpg" alt="agua florida" title="Agua florida" width="300" height="300"><img src="../img/jabones.jpg"alt="jabones" title="Jabones" width="400" height="400"><img src="../img/spray aurico.jpg" alt="spray" title="Spray aurico" width="400" height="400">

      <br>
      <br>
      <mark>Registrate para recibir información</mark>
      <br>
      <br>
      <form>
      <label>Nombre completo</label>
      <input type="text" placeholder=Nombre>
      <label>Mail</label>
      <input type="text"placeholder=Mail>   
      <label>Fecha de nacimiento</label>
      <input type="number"placeholder= Nacimiento>
      <label>Consulta</label>
      <input type="Consulta"placeholder=Consulta>
      <input type="button" value="Enviar">
    </form>
</body>
</html>